aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
Automat
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
constantly
cryptography
cssselect
defusedxml
deprecation
extra-streamlit-components
filelock
frozenlist
gitdb
GitPython
gotrue
h11
h2
hpack
httpcore
httpx
hyperframe
hyperlink
idna
incremental
itemadapter
itemloaders
Jinja2
jmespath
joblib
jsonschema
jsonschema-specifications
lxml
markdown-it-py
MarkupSafe
mdurl
multidict
narwhals
numpy
outcome
packaging
pandas
parsel
pillow
pip
postgrest
propcache
Protego
protobuf
psycopg2
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
PyDispatcher
Pygments
pyOpenSSL
PySocks
python-dateutil
pytz
queuelib
realtime
referencing
requests
requests-file
rich
rpds-py
scikit-learn
scipy
Scrapy
selenium
service-identity
setuptools
six
smmap
sniffio
sortedcontainers
st-supabase-connection
storage3
streamlit
streamlit-option-menu
supabase
supafunc
tenacity
threadpoolctl
tldextract
toml
tornado
trio
trio-websocket
Twisted
typing_extensions
tzdata
urllib3
w3lib
watchdog
websocket-client
websockets
wsproto
yarl
zope.interface